/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1500px) {
    .boxes
            {
                display:flex;
                padding:20px;
                margin: auto;
            }
    .box1,.box2
    {
        flex: 50%;
       margin:80px;
        height: 240px;
        width: 240px;
        margin-top: 70px;
    }
    h1
    {
        margin-top: 40px;
    }
     .number
            {
                height: 30px;
                margin-top: 130px;
            }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .boxes
    {
        padding:20px;
        margin: auto;
        display:flex;
    }
    .box1,.box2
    {
        flex: 50%;
        height: 240px;
        width: 240px;
        margin-top: 70px;
    }
    h1
    {
        margin-top: 40px;
    }
     .number
            {
                height: 30px;
                margin-top: 130px;
            }
}
/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .boxes
    {
        display: block;
        text-align: center;
        padding: 0px;
        position: absolute;
        overflow: hidden;
        margin: auto;
    }
     .box1,.box2
     {
         width: 180px;
         height: 150px;
        margin-top: 0px;
    }
    h1
    {
        margin-top:10px;
    }
     .number
    {
    height: 30px;
    margin-top: 40px;
    }
    .sreeramio
    {
        display: none;
    }
}
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .boxes
    {
        display: block;
        text-align: center;
        padding: 0px;
        position: absolute;
        overflow: hidden;
        margin: auto;
    }
     .box1,.box2
     {
         width: 180px;
         height: 150px;
        margin-top: 0px;
    }
    h1
    {
        margin-top:10px;
    }
     .number
    {
    height: 30px;
    margin-top: 40px;
    }
}

